/*BACKGROUND*/
/*PAGE*/
.container {
  height: 100vh;
  width: 100vw;
  background-color: #EBF8FA;
  display: flex;
  position: relative;
}


/*FORM BACKGROUND*/
.form-background {
  min-height: 90vh;
  min-width: 600px;
  background-color: #EA2143;
  flex-grow: 1;
  position: sticky;
  position: relative;
  top: 5vh;
}

.formText {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 5vh;
  left: 7vw;
}

.formBody {
  position: absolute;
  left: 10vw;
  z-index: 3;
}

/*IMAGE*/
.image-container {
  flex-grow: 1;
  position: right;
  height: 100vh;
  background-color: #EBF8FA;
  display: flex;
}

.background-image {
  height: 100vh;
  position: sticky;
  left: 60vw;
}


/*CONTENT*/

html {
  /*background*/
  background: url('http://thecodeplayer.com/uploads/media/gs.png');
}

body {
  font-family: 'Roboto', sans-serif;;
}

/*form styles*/
#msform {
  margin: 50px auto;
  text-align: center;
  position:  absolute;
  top: 0vh;
}

#msform fieldset {
  width: 550px;
  height: 500px;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: -3px 3px 10px 2px #333;
  padding: 20px 30px;

  box-sizing: border-box;
  margin: 0 10%;

  /*stackings fieldsets above each other*/
  position: sticky;
  position: absolute;
  top: 14vh;
  left: 7vw;
}



/*inputs*/
#msform input, #msform textarea {
  padding: 5px;
  border: 0px solid;
  border-bottom: 1px solid #E62B4C;
  margin-bottom: 50px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #2C3E50;
  font-size: 13px;
  width: 100%;
}

/*buttons*/
#msform .action-button {

  background: #E62B4C;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  position: absolute;
}

#msform .next {
  top: 66vh;
  right: 5vw;
}

#msform .prev {
  top: 66vh;
  right: 10vw;
}

#msform .submit {
  top: 520px;
  right: 50px;
}

#msform .action-button:hover, #msform .action-button:focus {
  font-size: 18px;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #243365;
  margin-bottom: 50px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  width: 250px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  position: sticky;
  position: absolute;
  top: 80vh;
  left: 14vw;
}

#progressbar li {
  list-style-type: none;
  width: 10%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 10px;
  line-height: 10px;
  display: block;
  font-size: 0px;
  color: #333;
  border: 2px solid white;
  border-radius: 20px;
  margin: 0 auto 5px auto;
  background: #E62B4C;
}



/*marking active/completed steps white*/
/*The number of the step and the connector before it = white*/
#progressbar li.active:before, #progressbar li.active:after {
  background: white;
}


