.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  left: 5px;
  font-size: 20px;
  transition: all 200ms;
  opacity: 0.5;
  pointer-events: none;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  color: #7F807F;
  font-size: 16px;
  border: none !important;
}

*:focus {
  outline: none;
}

textarea:focus, input:focus{
  outline: none;
}
