/*FORM SLIDE*/
.formSlide {
  background-color: white;
  height: 500px;
  width: 580px;
  position: absolute;
  top: 180px;
  left: 220px;
  z-index: 2;
  box-shadow: -5px 5px 10px -5px #333;
}

.testText {
  color: #EA2143;
  font-size: 72px;
  text-align: center;
  margin-top: 212px;
}
